@use "variables" as *;

.text-gradient {
    background-image: $red-text-gradient;
    background-color: $accent;
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    color: $main-blue;
}

.container {
    margin-top: 3.125rem;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

@mixin fonts($cl, $fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $cl;
}

.wrapper {
    align-items: center;
    max-width: $container-width;
    margin: 0 auto;

    .team-text {
        @include fonts($main-blue, 36px, 400, 43.88px);
        padding-left: 4px;
    }
    
    .max-60 {
        max-height: 60px;
    }
    
    .max-47 {
        max-height: 47px;
    }
    
    .flex{
        display: flex;
        align-items: center
    }

    .top {
        .link {
            @include fonts($grey-text, 12px, 700, 14.63px);
            padding: 5px 7px;
            border-radius: 8px;
            text-decoration: none;

            &:hover {
                background-color: $grey-bg;
            }
        }

        .active-link {
            background-color: $accent;
            color: white;
            @include fonts(white, 12px, 700, 14.63px);
            padding: 5px 7px;
            border-radius: 8px;
            text-decoration: none;
            margin-right:6px; 
        }

        p {
            @include fonts($grey-text, 16px, 400, 19.5px);
            margin: 0 6px;

            .link {
                font-size: 16px;
                padding: 0;
            }
        }

        .facebook {
            width: 24px;
            height: 24px;
            margin: 0 6px;
            background-color: $grey-text;
            text-align: center;
            border-radius: 12px;

            &:hover {
                background-color: $accent
            }

            @include fonts(white, 24px, 700, 19.5px);

            span {
                position: relative;
                top: 6px;
            }
        }
    }

    .bottom {
        margin-top: 16px;
        max-width: 445px;

        a {
            margin-left: 15px;
        }

        .link {
            text-decoration: none;
            @include fonts($active-regular, 16px, 700, 19.5px);
            padding-bottom: 3px;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $active-regular;
                text-underline-offset: 3px;
            }
        }

        .active {
            text-decoration: underline;
            text-decoration-color: $accent;
            text-underline-offset: 3px;
            @include fonts($accent, 16px, 700, 19.5px)
    
        }
    }

    
    
}

.seperator {
    width: 6px;
    height: 6px;
    background-color: $grey-seperator;
    border-radius: 3px;
}
