* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

:root {
  --basic-font-family: "Roboto", sans-serif;
  --basic-font-size: 16px;
  --basic-font-weight: 400;
  --basic-line-height: 1.5;
  --basic-text-color: #202020;
  --container-width: 1110px;
  --basic-space: 1rem;
}

@font-face {
  font-family:Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
} 

html {
  font-family: var(--basic-font-family);
  font-size: var(--basic-font-size);
  font-weight: var(--basic-font-weight);
  line-height: var(--basic-line-height);
  color: var(--basic-text-color);
}

.container {
  max-width: var(--container-width);  
  margin: var(--basic-space);
  display: flex;
  text-align: center;

}

.timer {
  margin-top: 2rem;
  border: 1px solid #202020;
  padding: var(--basic-space);
}

button {
  background-color: rgba(0, 68, 0, 0.707);
  border: none;
}

.btn {
  border: 2px solid rgba(0, 92, 0, 0.878);
  padding: 5px 13px;
  border-radius: 40px;
}