* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../images/background_for_carshop.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

form {
  background-color: black;
  color: white;
  position: absolute;
  padding: 10% 2%;
  border: solid white 1px ;
  top: 18%;
  left: 10%;
  display: block;
}

h2{
  text-align: center;
}

input {
  background-color: inherit;
  border: dashed white 1px;
  padding: 2px 0px 2px 5px;
  margin-top: 5%;
  color: white;
}

#email{
  margin-left: 81px;
}

#password {
  margin-left: 57px;
}

button {
  margin-top: 10%;
  padding: 3%;
  border: none;
  background-color: white;
}

button:hover{
  background-color: rgb(98, 96, 96);
}

