* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.container {
    height: 100%;
    display: block;
}

header {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

a {
    color: black;
}

a:hover {
    cursor: pointer;
    color: red;
}

.search {
    background-color: rgba(245, 173, 0, 1);
    padding: 10% 5%;
}

#fuel, #gearbox {
    max-width: 30%;
}

label {
    margin-top: 4%;
}

@media screen and (min-width: 426px) {
    .search {
        padding: 5%;
    }
    
    label {
        margin-top: 2%;
    }
}

@media screen and (min-width: 768px) {
    .search {
        padding: 2% 5%;
    }
}

@media screen and (min-width: 1024px) {
    .search {
        padding: 2% 5%;
    }
}